# Created by .ignore support plugin (hsz.mobi)
.idea

## Python
.env
__pycache__
.pytest_cache

## App
/python-twootfeed/config.yml
/python-twootfeed/tootrss_clientcred.txt
/python-twootfeed/tootrss_usercred.txt
