# Created by .ignore support plugin (hsz.mobi)
.idea

## Python
.env
.venv
__pycache__
.pytest_cache
/.coverage
/.eggs/

## App
config.yml
tootrss_clientcred.txt
tootrss_usercred.txt
*.log
/twootfeed.egg-info/
