twitter:
  consumerKey: ''
  consumerSecret: ''
feed:
  title: 'Recherche Twitter : '
  link: 'https://www.twitter.com/'
  description: "Résultat d'une recherche Twitter retournée dans un flux RSS via Tweepy."
  language: 'fr'
  author_name: 'SamR1'
  feed_url: 'http://localhost:5000/'
  timezone: 'Europe/Paris'