apipkg==1.5
asn1crypto==0.24.0
astroid==2.0.4
atomicwrites==1.2.1
attrs==18.2.0
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
Click==7.0
coverage==4.5.1
cryptography==2.3.1
decorator==4.3.0
execnet==1.5.0
feedgenerator==1.9
flake8==3.5.0
Flask==1.0.2
gunicorn==19.9.0
http-ece==1.0.5
idna==2.7
isort==4.3.4
itsdangerous==0.24
Jinja2==2.10
lazy-object-proxy==1.3.1
MarkupSafe==1.0
Mastodon.py==1.3.1
mccabe==0.6.1
more-itertools==4.3.0
oauthlib==2.1.0
pluggy==0.7.1
py==1.7.0
pycodestyle==2.3.1
pycparser==2.19
pyflakes==1.6.0
pylint==2.1.1
PySocks==1.6.8
pytest==3.8.2
pytest-cache==1.0
pytest-cov==2.6.0
pytest-flake8==1.0.2
pytest-isort==0.2.1
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
requests==2.19.1
requests-oauthlib==1.0.0
six==1.11.0
tweepy==3.6.0
typed-ast==1.1.0
urllib3==1.23
Werkzeug==0.14.1
wrapt==1.10.11
